
.formWidth{
    width: 50%;
}

.formWidth2{
    width: 50%;
}

.centrar{
    margin: 0 auto;
}

.sinborde{
    border: none;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

